<div class="admin-frame">
  <div class="screen-label">ADMIN - SCREEN 1</div>

  <aside class="sidebar">
    <a class="brand" href="http://localhost:4200/dashboard">
      <div class="brand-mark"><svg
      viewBox="0 0 26 21"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M10 8.55469L13.3984 12.8125C13.3984 12.8125 12.7344 16.8359 10.3906 18.7109C8.04688 20.5469 0 20.0391 0 20.0391C0 20.0391 0.117188 19.1406 0.429688 17.8516L4.10156 13.4766C4.25781 13.2812 4.0625 13.0078 3.82812 13.125L1.48438 13.9844C2.07031 12.3438 2.77344 10.8594 3.63281 10.1562C5.97656 8.28125 10 8.55469 10 8.55469ZM24.8438 1.32812C25.0781 1.5625 25 1.95312 24.7266 2.1875L15.6641 9.14062L16.9922 10.8203C17.1875 11.0547 17.0703 11.4453 16.7578 11.4844L14.4531 11.9922L11.0547 7.73438L12.0703 5.58594C12.1875 5.3125 12.5781 5.23438 12.7734 5.50781L14.1016 7.1875L23.2031 0.234375C23.4766 0 23.8672 0.078125 24.0625 0.351562L24.8438 1.32812Z"
        fill="white"
      />
    </svg></div>
      <div>
        <div class="brand-name">Happy2Clean</div>
        <div class="brand-subtitle">ADMIN PORTAL</div>
      </div>
    </a>

    <nav class="sidebar-nav" aria-label="Main navigation">
      <a
        *ngFor="let item of navItems"
        [routerLink]="item.path"
        routerLinkActive="active"
        class="nav-item"
      >
        <!--         <span class="nav-icon" [attr.data-icon]="item.icon"></span>
 -->
        <span class="sidebar-nav-item">
          <img
            [src]="'assets/' + item.icon + '.svg'"
            [alt]="item.icon + ' icon'"
            class="nav-icon"
          />
          <span class="nav-label">{{ item.label }}</span>
        </span>

        <span
          *ngIf="item.badge > 0"
          class="nav-badge"
          [class.orange]="item.badgeTone === 'orange'"
        >
          {{ item.badge }}
        </span>
      </a>
    </nav>

    <button class="sidebar-footer" type="button" (click)="logout()">
      <span class="footer-avatar">{{ getInitials() }}</span>
      <span>
        <span class="footer-name">Admin</span>
        <span class="footer-email">admin&#64;cleanapp.com</span>
      </span>
    </button>
  </aside>

  <section class="workspace">
    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </section>
</div>
