<nav class="navbar" [class.scrolled]="scrolled">
  <div class="nav-inner container">
    <a routerLink="/home" class="nav-logo" (click)="closeMenu()">
      <span class="logo-icon">
        <img src="assets/svg/Overlay.svg" alt="Overlay.svg" />
      </span>
    </a>

    <ul class="nav-links">
      <li><a href="#how-it-works" (click)="closeMenu()">How it works</a></li>
      <li><a href="#services" (click)="closeMenu()">Services</a></li>
      <li><a href="#pricing" (click)="closeMenu()">Pricing</a></li>
      <li><a href="#faq" (click)="closeMenu()">FAQ</a></li>
      <li class="nav-auth">
        <ng-container *ngIf="auth.isLoggedIn; else guestTpl">
          <a routerLink="/my-bookings" class="nav-link-text">My bookings</a>
          <span class="nav-user">
            <span class="material-symbols-outlined"> person </span
            >{{ auth.currentUser?.fullName?.split(" ")[0] }}</span
          >
          <button class="btn btn-outline-dark btn-sm" (click)="logout()">
            Log out
          </button>
        </ng-container>
        <ng-template #guestTpl>
          <a routerLink="/login" class="nav-link-text">Log in</a>
          <a routerLink="/book" class="btn text-white btn-green btn-sm"
            >Book a clean</a
          >
        </ng-template>
      </li>
    </ul>

    <button
      class="hamburger"
      (click)="toggleMenu()"
      [class.open]="menuOpen"
      aria-label="Menu"
    >
      <span></span><span></span><span></span>
    </button>
  </div>

  <div class="mobile-menu" [class.open]="menuOpen">
    <a href="#how-it-works" (click)="closeMenu()">How it works</a>
    <a href="#services" (click)="closeMenu()">Services</a>
    <a href="#pricing" (click)="closeMenu()">Pricing</a>
    <a href="#faq" (click)="closeMenu()">FAQ</a>
    <div class="mobile-auth">
      <ng-container *ngIf="auth.isLoggedIn; else mobileGuestTpl">
        <a routerLink="/my-bookings" (click)="closeMenu()">My bookings</a>
        <button class="btn btn-outline-dark" (click)="logout(); closeMenu()">
          Log out
        </button>
      </ng-container>
      <ng-template #mobileGuestTpl>
        <a
          routerLink="/login"
          (click)="closeMenu()"
          class="btn btn-outline-dark"
          >Log in</a
        >
        <a routerLink="/book" (click)="closeMenu()" class="btn btn-green"
          >Book a clean</a
        >
      </ng-template>
    </div>
  </div>
</nav>
