.footer {
  background: var(--footer);
  color: rgba(255, 255, 255, 0.8);
  padding-top: 56px;
}

.footer-inner {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr 1fr;
  gap: 40px;
  padding-bottom: 48px;
}

.footer-brand {
  .footer-logo {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 14px;
    strong {
      font-weight: 700;
    }
    img{
      background: white;
      border-radius: 12px;
      height: 60px;
      width: 60px;
    }
  }
  p {
    font-size: 13px;
    line-height: 1.7;
    max-width: 240px;
  }
}

.footer-links {
  display: contents;
  .link-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    h4 {
      font-size: 13px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.06em;
      color: white;
      margin-bottom: 4px;
    }
    a {
      font-size: 13px;
      color: rgba(255, 255, 255, 0.7);
      transition: color 0.15s;
      &:hover {
        color: white;
      }
    }
  }
}

.footer-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.12);
  padding: 20px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.5);
  p span{
    display: flex;
    gap: 5px;
  }
}

.footer-bottom p:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
}


@media (max-width: 768px) {
  .footer-inner {
    grid-template-columns: 1fr 1fr;
  }
  .footer-brand {
    grid-column: 1 / -1;
  }
  .footer-bottom {
    flex-direction: column;
    gap: 8px;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .footer-inner {
    grid-template-columns: 1fr;
  }
}
